sandwich.pkl filter=lfs diff=lfs merge=lfs -text
example_data/sandwich.jpg filter=lfs diff=lfs merge=lfs -text
example_data/car.jpg filter=lfs diff=lfs merge=lfs -text
example_data/dog-sandwich-painting.jpg filter=lfs diff=lfs merge=lfs -text
example_data/hot[[:space:]]dog.jpg filter=lfs diff=lfs merge=lfs -text
example_data/pizza.jpg filter=lfs diff=lfs merge=lfs -text
example_data/poptart.jpg filter=lfs diff=lfs merge=lfs -text
example_data/dog-in-hot-dog-costume.jpg filter=lfs diff=lfs merge=lfs -text
example_data/pug.jpg filter=lfs diff=lfs merge=lfs -text
example_data/tree.jpg filter=lfs diff=lfs merge=lfs -text
